@import "./assets/css/general-sans.css";
@import "./assets/css/ui-base.css";

:root {
  background-color: transparent;
  overflow: hidden;
  font-family: "GeneralSans-Variable", "GeneralSans-Regular", sans-serif;
}